---
layout: default
title: 严装 有态度的装修
---
<div class="photo">
	
		<ul>
	{% for case in site.data.photos %}
		<li>
			
				<img src="{{ sitebase.url }}/img/thumb/{{ case.image_thumb }}" alt="img"/>
				<figcaption>
					<h3>{{ case.content }}</h3>
					<p>{{ case.title }}</p>
				</figcaption>
			
		</li>
		{% endfor %}
		</ul>
		
	
</div>
<div class="cf"></div>



<div class="posts">

<ul>
　　  {% for post in site.posts  offset: 0 limit: 5 %}
    <article class="post">
  
    	{{% if {{ post.photo %}} <img src="img/{{ post.photo }}"> {{% endif %}}
　　　　<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>{{ post.date | date_to_string }} </li>

      <div class="entry">
        {{ post.excerpt }}
        {{ post.categories }}
      </div>
		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more fr">[阅读全文]</a>

		<div class="cf"></div>

    </article>
     　　{% endfor %}
   

</ul>
</div>

<div class="posts">

    <div class="">
    {% for post in site.categories.about limit:5 offset:0 %}
        <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        <br>
        <span class="meta date">{{ post.date | date_to_string }}</span>
        <br>
    {% endfor %}
    </div>
	
</div>


<div class="cf"></div>
