---
layout: default
title: 严装 有态度的装修
---
<div class="photo">
	
		<ul>
	{% for case in site.data.photos %}
		<li>
			
				<img src="{{ sitebase.url }}/img/thumb/{{ case.image_thumb }}" alt="img"/>
				<figcaption>
					<h3>{{ case.content }}</h3>
					<p>{{ case.title }}</p>
				</figcaption>
			
		</li>
		{% endfor %}
		</ul>
		
	
</div>
<div class="cf"></div>



<div class="posts">

<h2>{{ page.title }}</h2>
<p>最新文章</p>

<ul>
　　{% for post in site.posts %}
    <article class="post">
　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>

      <div class="entry">
        {{ post.excerpt }}
      </div>

     <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">[阅读全文]</a>
　　{% endfor %}
    </article>

</ul>
</div>