---
layout: default
title: 严装 有态度的装修
---
<div class="container">
	<div>
		<ul>
	{% for case in site.cases %}
		<li>
			<figure>
				<img src="{{ sitebase.url }}/img/thumb/{{ post.photo }}" alt="img"/>
				<figcaption>
					<h3>{{ case.content }}</h3>
					<p>{{ case.title }}</p>
				</figcaption>
			</figure>
		</li>
		{% endfor %}
		</ul>
		
	</div>
	
	
	<div>
		<ul>
		{% for post in site.posts %}
		<li>
			<figure>
				<img src="{{ site.baseurl }}/img/large/{{ post.photo }}" alt="img"/>
				<figcaption><h3>{{ post.caption_header}}</h3><p>{{ post.caption }}</p></figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>

	<div>
		
	</div>

	</div>
</div>



<div class="posts">

<h2>{{ page.title }}</h2>
<p>最新文章</p>

<ul>
　　{% for post in site.posts %}
    <article class="post">
　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>

      <div class="entry">
        {{ post.excerpt }}
      </div>

     <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">[阅读全文]</a>
　　{% endfor %}
    </article>

</ul>
</div>